body {
  margin: 0;
  padding: 0;
  background-color: #343a40;
  color: rgb(215, 216, 218);
  max-width: 100%;
}
.container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn {
  color: rgb(215, 216, 218);
  border: 2px solid #485056;
  width: 50%;
  padding: 6px 12px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #343a40;
}
.pdf-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.side-bar {
  background-color: #343a40;
  border-right: 5px solid #485056;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.viewer {
  height: 100vh;
  width: 100%;
  background-color: #343a40;
}
/* ===================================== */
.notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #20476d;
}
.note {
  background-color: #656464;
  width: 80%;
  border-radius: 12px;
  margin: 12px;
}
/*gdhbgkhl,j;.dhgsahn  */

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.form-container {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.form-container {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 200px;
  background-color: inherit;
  text-align: center;
  transform: translate(-50%, -50%) scale(1.5);
  transition: 0.7s ease-in-out;
  padding: 30px 10px;
  border-radius: 24px;
}

form .btn {
  width: 100%;
  color: #fff;
  background-color: #2a46ac;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.note-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #2a46ac;
}
.hidden {
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease-in-out;
}
input,
textarea {
  width: auto;
  max-width: 167px;
  /* word-wrap: break-word; */
  word-break: break-all;
}
/* me----------------------------------------------------------------------------------------------- */
